<ion-menu side="start" menuId="custom" contentId="main" class="my-custom-menu">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item><a [routerLink]="['/main']">Main</a></ion-item>
      <ion-item><a [routerLink]="['/goals']">Goals</a></ion-item>
      <ion-item><a [routerLink]="['/friends']">Friends</a></ion-item>
      <ion-item><a [routerLink]="['/']">Log Out</a></ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<div id=main>
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        TrashTalking
      </ion-title>
    </ion-toolbar>
  </ion-header>

    <ion-content [fullscreen]="true">
    <div id="container">
    <h1>Search for Users</h1>
    <ion-item>
      <ion-label>Search Query</ion-label>
      <ion-input [(ngModel)]="query" placeholder="search by email"></ion-input>
      <ion-button (click)="searchUsers()" color="primary">Search</ion-button>
    </ion-item>
    <h2 *ngIf="entries != null">Search Results:</h2>
    <ion-list *ngFor="let entry of entries">
      <ion-item>
        <img src="assets/images/usericon.png" width="30" height="30">
        <p> {{entry.First_name}} {{entry.Last_name}}</p>
        <ion-button *ngIf="sent == false" (click)="addFriend()" color="primary">Add Friend</ion-button>
    </ion-item>
    </ion-list>
  </div>
  </ion-content>
</div>
