<ion-menu side="start" menuId="custom" contentId="main" class="my-custom-menu">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item><a [routerLink]="['/main']">Main</a></ion-item>
      <ion-item><a [routerLink]="['/profile']">Profile</a></ion-item>
      <ion-item><a [routerLink]="['/search']">Search</a></ion-item>
      <ion-item><a [routerLink]="['/friends']">Friends</a></ion-item>
      <ion-item><a [routerLink]="['/insights']">Insights</a></ion-item>
      <ion-item><a [routerLink]="['/home']">Log Out</a></ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<div id=main>
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        TrashTalking
      </ion-title>
    </ion-toolbar>
  </ion-header>

    <ion-content [fullscreen]="true">
    <div id="container">
    <strong>Goals</strong>
    <ion-item>
      <ion-label>Priority</ion-label>
      <ion-select placeholder="Select One" [(ngModel)]="importance">
        <ion-select-option value="1">High Priority</ion-select-option>
        <ion-select-option value="2">Medium Priority</ion-select-option>
        <ion-select-option value="2">High Priority</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Goal Category</ion-label>
      <ion-select placeholder="Select One" [(ngModel)]="category">
        <ion-select-option value="total_volume">Total Volume</ion-select-option>
        <ion-select-option value="total_weight">Total Weight</ion-select-option>
        <ion-select-option value="max_weight_per_week">Max Weight (Week)</ion-select-option>
        <ion-select-option value="max_volume_per_week">Max Volume (Week)</ion-select-option>
        <ion-select-option value="max_weight_per_month">Max Weight (Month)</ion-select-option>
        <ion-select-option value="max_volume_per_month">Max Volume (Month)</ion-select-option>
        <ion-select-option value="ave_volume_per_day">Avg Volume (Day)</ion-select-option>
        <ion-select-option value="ave_volume_per_week">Avg Volume (Week)</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Target Value</ion-label>
      <ion-input [(ngModel)]="target" placeholder="5"></ion-input>
      </ion-item>
    <ion-item>
      <ion-label>Due Date</ion-label>
      <ion-datetime [(ngModel)]="duedate"></ion-datetime>
    </ion-item>
    <ion-button (click)="onAddGoal()" color="primary">Add Goal</ion-button>
    <h1>Current Goals</h1>
    <p *ngIf="goals == null || goals.length == 0">You haven't set any goals yet.</p>
    <ion-list *ngFor="let goal of goals">
      <ion-item>
        {{goal.category}}, {{goal.importance}}
    </ion-item>
    </ion-list>
  </div>
  </ion-content>
</div>
