<ion-menu side="start" menuId="custom" contentId="main" class="my-custom-menu">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item><a [routerLink]="['/main']">Main</a></ion-item>
      <ion-item><a [routerLink]="['/goals']">Goals</a></ion-item>
      <ion-item><a [routerLink]="['/search']">Search</a></ion-item>
      <ion-item><a [routerLink]="['/friends']">Friends</a></ion-item>
      <ion-item><a [routerLink]="['/insights']">Insights</a></ion-item>
      <ion-item><a [routerLink]="['/']">Log Out</a></ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<div id=main>
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        TrashTalking
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">
  <div id="container">
    <h1>Register Bin</h1>
    <p>If you are a first time user, or have purchased a new bin, you need to register the bin before TrashTalking can track your usage.</p>
    <h2>Where Is the Bin ID?</h2>
    <p>The bin ID is located on the sticker that comes with the TrashTalking Kit</p>
    <h2>I cannot find the sticker/I have lost the sticker</h2>
    <p>If your kit did not come with a sticker, or you have lost it, you need to contact support.</p>
    <ion-item>
      <ion-label>Bin ID</ion-label>
      <ion-input [(ngModel)]="binid" placeholder="123456789"></ion-input>
    </ion-item>
    <ion-button (click)="onRegisterBin()" color="primary">Register Bin</ion-button>
    <p *ngIf="register == 'failed'" style="color: red;">Invalid bin number. Please try again.</p>
    <p *ngIf="register == 'unresponsive'" style="color: red;">We cannot process your request at this time. Please try again later</p>
  </div>
  </ion-content>
    

</div>
