<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      TrashTalking
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Sign Up</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Sign Up</strong>
    <ion-item>
      <ion-label>Username</ion-label>
      <ion-input [(ngModel)]="email" placeholder="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Password</ion-label>
      <ion-input [(ngModel)]="password" placeholder="password" type="password"></ion-input>
    </ion-item>
    <ion-button (click)="onSignUp()" color="primary">Sign Up</ion-button>
  </div>
</ion-content>
