#container {
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

 #trashcan-icon {
  padding-top: 10px;
  display: block;
  margin-left: 5%
 }

 #trashcan-fill {
  display: flex;
  margin-top: -110px;
  justify-content: center;
  align-items: center;
 }

 ngx-charts-bar-horizontal {
  display: block;
  margin-left: -15%;
}
